@import "../exclude/variables";

@media only screen and (max-width: 987px) {
  .experience {
    padding-top: 8rem;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .exp-title {
      font-family: $font-other;
      @include Flex(row);
      .exp-title-text {
        font-family: $font-other;
        font-size: 1.5rem;
        .exp-num {
          font-size: 1.2rem;
          color: $blue-primary;
        }
      }
      .line {
        border: $grey 0.5px solid;
        margin-left: 1.2rem;
        padding-left: 5.5rem;
      }
    }
    .exp-main {
      width: 100%;
      padding-top: 5rem;
      .exp-time {
        display: flex;
        flex-direction: column;
        .text {
          flex: 3;
          font-size: 0.8rem;
          .desc {
            padding-top: 2rem;
            color: $grey;
            line-height: 1.4rem;
            width: 80%;
            font-size: 1rem;
          }
        }
        a {
          flex: 2;
          padding-top: 2rem;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
      .exp-uni {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 6rem;
        margin: 0;
        .uni-text {
          flex: 3;
          margin-left: 0;
          padding-left: 0;
          font-size: 0.8rem;
          .desc {
            padding-top: 2rem;
            color: $grey;
            line-height: 1.4rem;
            width: 80%;
            font-size: 1rem;
          }
        }
        a {
          flex: 2;
          padding-top: 2rem;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
      .time-span {
        font-family: $font-other;
        font-size: 1rem;
      }
      .desc-ul {
        list-style: disc;
        padding-top: 0.4rem;
        padding-left: 1rem;
        width: 88%;
        font-size: 0.9rem;
        color: $grey;
        line-height: 1.4rem;
      }
    }
  }
}
