* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

html {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0c1733;
  color: #ccd6f6;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.bluer {
  color: #61dafb;
}

@-webkit-keyframes onLoadGo {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes onLoadGo {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background: #0c1733;
}

.loading .logo {
  padding: 2rem;
  font-family: "Inconsolata", monospace;
  font-size: 10rem;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.loading .logo .logo-minus {
  color: #61dafb;
  padding-right: 1.1rem;
  -webkit-animation: 1s fadeIn;
          animation: 1s fadeIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loading .logo .logo-main {
  color: white;
  -webkit-animation: 1s fadeIn;
          animation: 1s fadeIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loading .logo .logo-greater {
  color: #61dafb;
  padding-left: 1rem;
  -webkit-animation: 1s fadeIn;
          animation: 1s fadeIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.3;
  }
  66% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.3;
  }
  66% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  font-family: "Inconsolata", monospace;
  background-color: #0c1733;
  -webkit-box-shadow: 0 5px 2px -2px #091229;
          box-shadow: 0 5px 2px -2px #091229;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar .logo {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.navbar .logo-minus {
  color: #61dafb;
}

.navbar .logo-main {
  color: white;
}

.navbar .logo-greater {
  color: #61dafb;
}

.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .nav-list-item a {
  color: #ccd6f6;
  margin-right: 2rem;
}

.navbar .nav-list-item a .nav-links-num {
  color: #61dafb;
}

.navbar .nav-list-item a:hover {
  color: #61dafb;
}

.navbar .resume {
  cursor: pointer;
  outline: none;
  background: transparent;
  color: #61dafb;
  border: 2px #61dafb solid;
  padding: 0.7rem;
  border-radius: 13%;
}

.navbar .resume:hover {
  -webkit-animation: fadeOpacity 0.4s;
          animation: fadeOpacity 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOpacity {
  0% {
    background-color: #0c1733;
  }
  33% {
    background-color: #0e1c3f;
  }
  66% {
    background-color: #11214b;
  }
  100% {
    background-color: #172d64;
  }
}

@keyframes fadeOpacity {
  0% {
    background-color: #0c1733;
  }
  33% {
    background-color: #0e1c3f;
  }
  66% {
    background-color: #11214b;
  }
  100% {
    background-color: #172d64;
  }
}

@-webkit-keyframes gone {
  0% {
    top: -20px;
  }
  33% {
    top: -40px;
  }
  66% {
    top: -60px;
  }
  100% {
    top: -100px;
  }
}

@keyframes gone {
  0% {
    top: -20px;
  }
  33% {
    top: -40px;
  }
  66% {
    top: -60px;
  }
  100% {
    top: -100px;
  }
}

@-webkit-keyframes notGone {
  0% {
    top: -100px;
  }
  50% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}

@keyframes notGone {
  0% {
    top: -100px;
  }
  50% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}

.landing {
  padding-top: 8rem;
  margin: 0 auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing .hey {
  font-family: "Inconsolata", monospace;
  color: #61dafb;
  font-size: 1.2rem;
  font-weight: 100;
}

.landing .name {
  font-size: 6rem;
  padding-top: 1rem;
}

.landing .hard {
  font-family: "Inconsolata", monospace;
  font-size: 1.2rem;
}

.landing .intro {
  padding-top: 2.5rem;
  font-size: 3rem;
  color: #ccd6f69c;
}

.landing .desc {
  padding-top: 2.5rem;
  font-size: 1.1rem;
  color: #ccd6f69c;
  width: 55%;
}

.landing .find-more {
  cursor: pointer;
  margin-top: 2.2rem;
  outline: none;
  background: transparent;
  color: #61dafb;
  border: 2px #61dafb solid;
  padding: 1rem;
  border-radius: 13%;
}

.landing .find-more:hover {
  -webkit-animation: fadeOpacity 0.4s;
          animation: fadeOpacity 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes fadeOpacity {
  0% {
    background-color: #0c1733;
  }
  33% {
    background-color: #0e1c3f;
  }
  66% {
    background-color: #11214b;
  }
  100% {
    background-color: #172d64;
  }
}

.socials {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0;
  left: 7rem;
}

.socials a {
  text-decoration: none;
  color: white;
}

.socials .icon {
  margin-bottom: 1.8rem;
  cursor: pointer;
  color: white;
}

.socials .icon:hover {
  color: #61dafb;
}

.socials .line {
  border-left: 1px white solid;
  padding-bottom: 7rem;
}

.fixed-contacts {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0;
  right: -3.5rem;
}

.fixed-contacts a {
  text-decoration: none;
  color: white;
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.2rem;
}

.fixed-contacts a:hover {
  color: #61dafb;
}

.fixed-contacts .c-text {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-bottom: 13rem;
  font-size: 1rem;
}

.fixed-contacts .line {
  border-left: 1px white solid;
  padding-top: 7rem;
}

.about {
  padding-top: 8rem;
  margin: 0 auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 13rem;
  color: white;
}

.about .ab-title {
  font-family: "Inconsolata", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about .ab-title .ab-title-text {
  font-size: 2rem;
  font-family: "Inconsolata", monospace;
}

.about .ab-title .ab-num {
  color: #61dafb;
}

.about .ab-title .line {
  border: #ccd6f69c 0.5px solid;
  margin-left: 1.2rem;
  padding-left: 13.5rem;
}

.about .about-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 2rem;
}

.about .about-main .main-text .desc {
  width: 70%;
  line-height: 1.7rem;
  padding-top: 2rem;
  color: #ccd6f69c;
}

.about .about-main .main-text .desc-2 {
  width: 70%;
  line-height: 1.7rem;
  padding-top: 2rem;
  color: #ccd6f69c;
}

.about .about-main .img {
  max-width: 19rem;
  border-radius: 1%;
}

.skills {
  padding-top: 8rem;
  margin: 0 auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 14rem;
}

.skills .skills-text {
  font-family: "Inconsolata", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.skills .skills-text .line-one {
  border: #ccd6f69c 0.5px solid;
  padding-left: 13.5rem;
  margin-right: 1.2rem;
}

.skills .skills-text .skills-title {
  font-size: 2rem;
  font-family: "Inconsolata", monospace;
}

.skills .skills-text .skills-title .skills-num {
  color: #61dafb;
}

.skills .skills-text .line {
  border: #ccd6f69c 0.5px solid;
  margin-left: 1.2rem;
  padding-left: 13.5rem;
}

.skills .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4rem;
  text-align: justify;
  margin: 0 auto;
  color: #ccd6f69c;
  line-height: 1.6rem;
  max-width: 44%;
}

.skills .desc .skills-desc-2 {
  padding-top: 3rem;
  text-align: justify;
  color: #ccd6f6;
  font-family: "Inconsolata", monospace;
}

.skills .tech-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  padding-top: 1.7rem;
}

.skills .tech-lists .list {
  list-style-type: circle;
  list-style: #61dafb;
  padding: 0 4.5rem;
}

.skills .tech-lists .list .list-item {
  font-family: "Inconsolata", monospace;
  padding-top: 0.5rem;
}

.projects {
  padding-top: 8rem;
  margin: 0 auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 8rem;
}

.projects .projects-text {
  font-family: "Inconsolata", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects .projects-text .projects-title {
  font-size: 2rem;
  font-family: "Inconsolata", monospace;
}

.projects .projects-text .projects-title .projects-num {
  color: #61dafb;
}

.projects .projects-text .line {
  border: #ccd6f69c 0.5px solid;
  margin-left: 1.2rem;
  padding-left: 13.5rem;
}

.contact {
  display: none;
}
/*# sourceMappingURL=main.css.map */