.contact {
  @include Spacing();
  padding-top: 11rem;
  .contact-text {
    font-family: $font-other;
    @include Flex(row);
    margin: 0 auto;
    .line-1 {
      border: $grey 0.5px solid;
      padding-left: 13.5rem;
      margin-right: 1.2rem;
    }
    .contact-title {
      font-size: 2rem;
      font-family: $font-other;
      .contact-num {
        color: $blue-primary;
        font-size: 1.8rem;
      }
    }
    .line {
      border: $grey 0.5px solid;
      margin-left: 1.2rem;
      padding-left: 13.5rem;
    }
  }
  .contact-main {
    @include Flex(column);
    margin: 0 auto;
    padding-top: 1.5rem;
    .contact-subtitle {
      @include Flex(column);
      margin: 0 auto;
      width: 70%;
      padding-top: 3rem;
      text-align: center;
      .sub-text {
        color: $grey;
        width: 75%;
      }
    }
    .contact-form {
      margin: 0 auto;
      text-align: center;
      padding-top: 2rem;
      .form-comp {
        padding: 1rem 4rem;
        .label {
          margin-left: -17.5rem;
        }
        .label-msg {
          margin-left: -16rem;
        }
        .contact-input {
          min-width: 12rem;
          @include Flex(column);
          background: transparent;
          outline: none;
          border: 1px solid $blue-primary;
          padding: 0.4rem 4rem;
          margin-top: 0.2rem;
          color: white;
        }
        .contact-input:focus {
          border: 1.5px solid $blue-primary;
        }
      }
      .submit-button {
        margin-top: 1.6rem;
        padding: 1rem 4rem;
        background: transparent;
        border: 1px solid $blue-primary;
        color: rgb(221, 217, 217);
        text-align: center;
        cursor: pointer;
        font-weight: 500;
        border-radius: 4%;
      }
      .submit-button:hover {
        animation: fadeOpacity 0.3s;
        animation-fill-mode: forwards;
        border: 1.5px solid $blue-primary;
        color: white;
      }
    }
  }
}
