@import "./variables";

.experience {
  @include Spacing();
  padding-top: 13rem;
  .exp-title {
    font-family: $font-other;
    @include Flex(row);
    .exp-title-text {
      font-size: 2rem;
      font-family: $font-other;
      .exp-num {
        font-size: 1.8rem;
        color: $blue-primary;
      }
    }
    .line {
      border: $grey 0.5px solid;
      margin-left: 1.2rem;
      padding-left: 13.5rem;
    }
  }
  .exp-main {
    padding-top: 5rem;
    .exp-time {
      @include Flex(row);
      padding-top: 1rem;
      .text {
        .desc {
          padding-top: 3rem;
          width: 78%;
          color: $grey;
          line-height: 1.4rem;
        }
      }
      a {
        img {
          position: relative;
          max-width: 28rem;
          height: auto;
          display: block;
          margin-right: -1rem;
        }
      }
    }
    .exp-uni {
      @include Flex(row);
      padding-top: 10rem;
      .uni-text {
        padding-left: 5rem;
        .desc {
          padding-top: 3rem;
          width: 95%;
          color: $grey;
          line-height: 1.4rem;
          .desc-ul {
            list-style: disc;
            padding-top: 0.4rem;
            padding-left: 1rem;
          }
        }
      }
      a {
        img {
          position: relative;
          max-width: 28rem;
          height: auto;
          display: block;
          margin-right: -1rem;
        }
      }
    }
  }
}
