@import "./variables";

.landing {
  padding-top: 8rem;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  .hey {
    font-family: $font-other;
    color: $blue-primary;
    font-size: 1.2rem;
    font-weight: 100;
  }
  .name {
    font-size: 6rem;
    padding-top: 1rem;
  }
  .hard {
    font-family: $font-other;
    font-size: 1.2rem;
  }
  .intro {
    padding-top: 2.5rem;
    font-size: 3rem;
    color: #ccd6f69c;
  }
  .desc {
    padding-top: 2.5rem;
    font-size: 1.1rem;
    color: #ccd6f69c;
    width: 55%;
  }
  .find-more {
    cursor: pointer;
    margin-top: 2.2rem;
    outline: none;
    background: transparent;
    color: $blue-primary;
    border: 2px $blue-primary solid;
    padding: 1rem;
    border-radius: 13%;
  }
  .find-more:hover {
    animation: fadeOpacity 0.4s;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeOpacity {
  0% {
    background-color: #0c1733;
  }

  33% {
    background-color: #0e1c3f;
  }

  66% {
    background-color: #11214b;
  }

  100% {
    background-color: #172d64;
  }
}
