@import "./variables";

.navbar {
  font-family: "Inconsolata", monospace;
  background-color: $darker-primary;
  box-shadow: 0 5px 2px -2px #0d1938;
  display: flex;
  justify-content: space-evenly;
  min-height: 5rem;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  .logo {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    &-minus {
      color: $blue-primary;
    }
    &-main {
      color: white;
    }
    &-greater {
      color: $blue-primary;
    }
  }

  .nav-list {
    @include Flex(row);
    &-item {
      a {
        color: $gray;
        margin-right: 2rem;
        .nav-links-num {
          color: $blue-primary;
        }
      }

      a:hover {
        color: $blue-primary;
      }
    }
  }

  .resume {
    cursor: pointer;
    outline: none;
    background: transparent;
    color: $blue-primary;
    border: 2px $blue-primary solid;
    padding: 0.7rem;
    border-radius: 13%;
  }

  .resume:hover {
    animation: fadeOpacity 0.4s;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeOpacity {
  0% {
    background-color: #0c1733;
  }

  33% {
    background-color: #0e1c3f;
  }

  66% {
    background-color: #11214b;
  }

  100% {
    background-color: #172d64;
  }
}

@keyframes gone {
  0% {
    top: 0px;
  }
  10% {
    top: -10px;
  }
  20% {
    top: -20px;
  }
  30% {
    top: -30px;
  }
  40% {
    top: -40px;
  }
  50% {
    top: -50px;
  }
  60% {
    top: -60px;
  }
  70% {
    top: -70px;
  }
  80% {
    top: -80px;
  }
  90% {
    top: -90px;
  }
  100% {
    top: -100px;
  }
}

@keyframes notGone {
  0% {
    top: -100px;
  }

  50% {
    top: -20px;
  }

  100% {
    top: 0;
  }
}
