@import "./variables";

.projects {
  @include Spacing();
  padding-top: 8rem;
  .projects-text {
    font-family: $font-other;
    @include Flex(row);
    margin: 0 auto;
    .line-1 {
      border: $grey 0.5px solid;
      padding-left: 13.5rem;
      margin-right: 1.2rem;
    }
    .projects-title {
      font-size: 2rem;
      font-family: $font-other;
      .projects-num {
        color: $blue-primary;
        font-size: 1.8rem;
      }
    }
    .line {
      border: $grey 0.5px solid;
      margin-left: 1.2rem;
      padding-left: 13.5rem;
    }
  }
  .projects-container {
    padding-top: 4rem;
    .project-1 {
      .project-container {
        background-image: url("/src/img/project.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
      .project-text {
        .featured {
        }
        .project-name {
        }
      }
      .project-description {
        .project-desc-text {
        }
      }
    }
  }
}
