@import "./variables";

.skills {
  @include Spacing();
  padding-top: 14rem;
  .skills-text {
    font-family: $font-other;
    @include Flex(row);
    margin: 0 auto;
    .line-one {
      border: $grey 0.5px solid;
      padding-left: 13.5rem;
      margin-right: 1.2rem;
    }
    .skills-title {
      font-size: 2rem;
      font-family: $font-other;
      .skills-num {
        color: $blue-primary;
        font-size: 1.8rem;
      }
    }
    .line {
      border: $grey 0.5px solid;
      margin-left: 1.2rem;
      padding-left: 13.5rem;
    }
  }
  .desc {
    @include Flex(column);
    padding-top: 4rem;
    text-align: justify;
    margin: 0 auto;
    color: $grey;
    line-height: 1.6rem;
    max-width: 40%;
    .skills-desc-2 {
      padding-top: 3rem;
      text-align: justify;
      color: $gray;
      font-family: $font-other;
    }
  }

  .tech-lists {
    @include Flex(row);
    margin: 0 auto;
    padding-top: 1.7rem;
    .list {
      list-style-type: circle;
      list-style: $blue-primary;
      .list-item {
        font-family: $font-other;
        padding-top: 0.5rem;
      }
    }
    .list-one {
      padding: 0 4.5rem;
    }
    .list-two {
      padding: 0 2.5rem;
    }
  }
}
