// Variables for scss

//Colors

$blue-primary: #61dafb;
$darker-primary: #0c1733;
$dark-secondary: #282c34;
$gray: #ccd6f6;
$grey: #ccd6f69c;
$font-other: "Inconsolata", monospace;

//Highlighter

//Flex-center

@mixin Flex($dir) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
}

//Spacing components normal

@mixin Spacing {
  padding-top: 8rem;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
