// Variables for scss

//Colors

$blue-primary: #61dafb;
$darker-primary: #152a5f;
$dark-secondary: #282c34;
$gray: #ccd6f6;
$grey: #ccd6f69c;

$font-primary: "Roboto", -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu,
  Cantarell, sans-serif;
$font-other: "Inconsolata", monospace;

//Highlighter

//Flex-center

@mixin Flex($dir) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
}

//Spacing components normal

@mixin Spacing {
  padding-top: 8rem;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

//Animate buttons

@keyframes fadeOpacity {
  0% {
    background-color: $darker-primary;
  }

  33% {
    background-color: #172d66;
  }

  66% {
    background-color: #19316e;
  }

  100% {
    background-color: #1c377c;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}
